:root {

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    width: 20%;
    font-size: 30px;
    color: blue;
}

.right-side {
    widows: 80%;
}

/* Header */

/* Hero */

.hero {
    background-image: url("../images/puerto.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex: end;
    background-position: 50%;
    height: 200px;
}

/* About Me */

.about-me {
    display: flex;
}

.about-me h2 {


}

.about-me div p {
    width: 80%;
}
/* Work */

/* Contact */