:root {
    --dodgerblue: rgb(62, 139, 255);
    --orangered: rgb(255, 79, 31);
    --navy: rgb(0, 0, 101);
    --darkcyan: rgb(0, 142, 142);
    --text-background-darkcyan: rgba(0, 142, 142, .5)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    width: 100%;
    font-size: 4vh;
    color: var(--dodgerblue);
    border-bottom: 10px solid var(--darkcyan);
    padding-bottom: 20px;
    padding: 15px;
}

a {
    text-decoration: none;
}

/* Header */

header {
    padding: 20px 10px 20px 0;
    background-image: url(../images/peach_colored_construction_paper_seamless.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 5px 15px 5px 1px;
}

header h1 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 5vh;
    color: var(--darkcyan);
    margin: 0;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 a:hover {
    text-shadow: none;
}

header a {
    text-decoration: underline;
}

header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 3vh;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--darkcyan);
}

header nav ul li a:hover {
    text-shadow: none;
    transition: ease-in-out;
}

.content {
    background-image: url(../images/peach_colored_construction_paper_seamless.jpg);
}

.content section{
    padding: 20px;
}

/* Hero */

.hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    position: relative; 
}

.hero p {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 3vh;
    background-color: var(--darkcyan);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 25px;
}

.hero img {
    width: 100vw;
    max-height: 90vh;
}

.about-me div p {
    font-size: 2vh;
    padding: 10px 15px;   
}

/* Work */

.work {
    display: flex;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: dense;
    padding: 10px 15px;
}
.work-image {
    width: 100%;
    max-width: 500px;
}

.grid-item:hover {
    opacity: 1;
}

.grid-item div {
    text-decoration: none;
    background-color: var(--text-background-darkcyan);
    padding: 15px;
    width: 50%;
    height: auto;
    text-align: center;

}

.item-1 {
    grid-row: 2;
    grid-column: 2;
}

.item-2 {
    grid-row: 4;
    grid-column: 2;
}

.work-image-container {
    text-align: center;
    align-items: center;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.work-image-container img {
    border: 12px inset var(--darkcyan);
    border-radius: 0px 40px 0px 40px;
}
.work-text-container {
    text-align: center;
    align-items: center;
    padding: 1vh;
    margin: auto;
    border-bottom: 12px inset var(--darkcyan);
    border-radius: 0px 40px 0px 40px;
}
.work-image:hover{
    transition: ease-in-out 500ms;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.work-text-container h3 {
    font-size: 4vh;
}
.work-text-container p {
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

}
/* Contact */

.contact {
    display: flex;
    flex-wrap: wrap;
}

.contact ul {
    margin-top: 1vh;
    width: 100%;
}

.contact ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 3vh;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--darkcyan);
}

.contact ul li a:hover {
    text-shadow: none;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    header {
       justify-content: center;
    }

    header h1 {
        padding: 5px;
    }

    .about-me div p {
        padding: 5px 0 5px 15px;
        font-size: 1.8vh;  
    }

    .grid-container {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
    }
    
    .item-1, .item-2 {
        grid-row: span 1;
        grid-column: span 1;
    }

    .contact {
        padding: 20px 0;
    }
}

@media screen and (max-width: 980px) {
    .hero p {
        font-size: 2vh;
    }
}