:root {
    --dodgerblue: rgb(62, 139, 255);
    --orangered: rgb(255, 79, 31);
    --navy: rgb(0, 0, 101);
    --darkcyan: rgb(0, 142, 142);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    width: 20%;
    font-size: 30px;
    color: var(--dodgerblue);
    border-right: 10px solid blue;
    padding-bottom: 20px;
}

.right-side {
    widows: 80%;
}

/* Header */

header {
    padding: 20px 10px 20px 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: black;
    margin: 0;
    background-color: var(--darkcyan);
    text-decoration: none;
    text-align: bottom;
}

header h1:hover {
    color: white;
    text-shadow: none;
}


header a {
    text-decoration: underline;
}

header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--darkcyan);
}

header nav ul li a:hover {
    color: white;
    text-shadow: none;
}

/* Hero */

.hero {
    background-image: url("../images/puerto.jpg");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    background-position: 50%;
    height: 200px;
}

/* About Me */

.about-me {
    display: flex;
}

.about-me h2 {


}

.about-me div p {
    width: 80%;
}
/* Work */

/* Contact */